body{
    font-family: 'Montserrat', sans-serif;
}
:root{
    /* --border: 1px solid; */
} 
.wrapper{
    width: 1920px;
    border: var(--border);
    margin: 0 auto;
    background-color: #ffffff;
}
header{
    width: 100%;
    height: 900px;
    border: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.header__child{
    width: 1744px;
height: 846px;
flex-shrink: 0;
border: var(--border);
margin-top: 19px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.navigation{
    width: 1744px;
height: 77px;
flex-shrink: 0;
border: var(--border);
display: flex;
}
.navigation__logo{
    width: 388px;
height: 77px;
flex-shrink: 0;
border: var(--border);
}
.navigation__list{
    width: 1356px;
    height: 77px;
    border: var(--border);
    display: flex;
    align-items: center;
    justify-content: end;


}
.navigation__list__menu{
    width: 612px;
height: 15px;
flex-shrink: 0;
border: var(--border);
margin-right: 114px;
display: flex;
list-style: none;
align-items: center;
justify-content: space-between;
color: #1E1E1E;
leading-trim: both;
text-edge: cap;
font-family: 'Montserrat', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.navigation__list__phone{
    width: 182px;
height: 40px;
flex-shrink: 0;
border: var(--border);
margin-right: 59px;
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
}
.phone__top{
    color: rgba(30, 30, 30, 0.62);
    font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.08px;
}
.phone__bottom{
    color: #1E1E1E;
leading-trim: both;
text-edge: cap;
color: #1E1E1E;
leading-trim: both;
text-edge: cap;
font-family: Mont;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.navigation__list__button{
    width: 289px;
height: 77px;
flex-shrink: 0;
border: var(--border);

}
.navigation__list__button :hover{
    background: linear-gradient(91deg, rgba(61, 184, 70, 0.00) 2.44%, #3DB846 56.96%, rgba(61, 184, 70, 0.00) 99.45%), #447C2A;
}
.button__button{
    width: 289px;
    height: 77px;
    flex-shrink: 0;
    border-radius: 40px;
    background-color: #447C2A;
box-shadow: 0px 12px 12px 0px rgba(42, 124, 48, 0.34);
color: #FFF;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.8px;

}
.hero{
    width: 1744px;
height: 751px;
flex-shrink: 0;
border: var(--border);
background-image: url(/imgs/bck.png);
display: flex;
align-items: end;
justify-content: center;

}
.hero__child{
    width: 1396px;
    height: 515px;
    border: var(--border);
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero__child__top{
    width: 827px;
    height: 263px;
    border: var(--border);
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.hch_top{
    color: #FFF;
leading-trim: both;
 font-family: 'Montserrat', sans-serif;
font-size: 51px;
font-style: normal;
font-weight: 900;
line-height: 75px; /* 174.51% */
letter-spacing: 1.02px;
}
.hch_bottom{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 110.4%; /* 35.328px */

}
.hero__child__bottom{
    width: 1396px;
    height: 48px;
    border: var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
leading-trim: both;
text-edge: cap;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 129.4%; /* 31.056px */
list-style-type: circle ;
}
.main1{
    width:100%;
    height: 737px;
    border: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main1__child{
    width: 1472px;
height: 737px;
flex-shrink: 0;
border: var(--border);
display: flex;
align-items: center;

}
.main1__child__left{
  
    width: 605px;
    height: 474px;
    flex-shrink: 0;
    border: var(--border);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main1__child__left__top{
    width: 605px;
    height: 157px;
    color: #323638;
leading-trim: both;
text-edge: cap;
font-family: 'Montserrat', sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.main1__child__left__bottom{
    width: 561px;
    height: 265px;
    color: #747474;
leading-trim: both;
text-edge: cap;
font-family: 'Montserrat', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 129.4%; /* 31.056px */
}
.main1__child__right{
    width: 859px;
    height: 100%;
    flex-shrink: 0;
    border: var(--border);
}
.main2{
    width: 100%;
    height: 870px;
    border: var(--border);
    display: flex;
    justify-content: center;
}
.main2__child{
    width: 1472px;
    height: 100%;
    border: var(--border);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.main2__top{
    width: 1382px;
    height: 95px;
    border: var(--border);
    color: #323638;
    leading-trim: both;
    text-edge: cap;
    font-family: 'Montserrat', sans-serif;    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    
}
.main2__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 675px;
    border: var(--border);
}
.main2__left{
    position: relative;
    width: 605px;
    height: 100%;
    border: var(--border); 
    display: flex;
    justify-content: space-between;
}
.a{
    margin-top: 40px;
    width: 48%;
    height: 90%;
    border: var(--border);
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.a-top{
    width: 277px;
height: 287px;
flex-shrink: 0;
border: var(--border);
}
.a-bottom{
    width: 277px;
height: 287px;
flex-shrink: 0;
border: var(--border);
}
.b{
    margin-bottom: 40px;
    width: 48%;
    height: 90%;
    border: var(--border);
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.b-top{
    width: 277px;
height: 287px;
flex-shrink: 0;
border: var(--border);
}
.b-bottom{
    width: 277px;
height: 287px;
flex-shrink: 0;
border: var(--border);
}
.c{
    position: absolute;
    width: 210px;
height: 210px;
flex-shrink: 0;
border: var(--border);
margin-top: 38%;
margin-left: 35%;
}
.main2__right{
    display: flex;
    width: 799px;
    height: 530px;
    border: var(--border);
    flex-wrap: wrap;
    justify-content: space-between;

}
.main2__right__child{
    width: 384px;
height: 121px;
flex-shrink: 0;
border: var(--border);
align-items: end;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.main2__right__child__top{
    width: 310px;
    height: 48px;
    border: var(--border);
    color: #323638;
leading-trim: both;
text-edge: cap;
font-family: Mont;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.main2__right__child__bottom{
    width: 314px;
    height: 51px;
    border: var(--border);
    color: #747474;
leading-trim: both;
text-edge: cap;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.main3{
    width: 100%;
    height: 1500px;
    border: var(--border);
    display: flex;
    align-items: end;
    justify-content: center;
}
.main3_child{
    width: 1416px;
    height: 96%;
    border: var(--border);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.main3__child__nav{
    display: flex;
    width: 100%;
    height: 95px;
    border: var(--border);
    align-items: center;
    justify-content: space-between;
}
.main3__nav__left{
    display: flex;
    align-items: center;
    width: 914px;
    height: 95px;
    border: var(--border);
    color: #323638;
leading-trim: both;
text-edge: cap;
font-family: 'Montserrat', sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.main3__nav__right :hover{
   
    background: linear-gradient(91deg, rgba(61, 184, 70, 0.00) 2.44%, #3DB846 56.96%, rgba(61, 184, 70, 0.00) 99.45%), #437D2B;
}
.main3__b__button{
    width: 336px;
height: 87px;
flex-shrink: 0;
border-radius: 50px;
background-color: #447C2A;

color: #FFF;
leading-trim: both;
text-edge: cap;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.main3__child__hero{
    width: 100%;
    height: 1296px;
    border: var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}
.main3__child__hero__top{
    width: 100%;
    height: 572px;
    border: var(--border);
    display: flex;
    justify-content:  start;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.main3__hchild{
    /* position: absolute; */
    width: 1416px;
height: 484px;
flex-shrink: 0;
border: var(--border);
display: flex;
align-items: center;
justify-content: space-between;
}
.main3_button_l{
    margin-top: 208px;
    margin-left: -745px;
    position: absolute;
    width: 68px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 40px;
    background: white;
}
.h :hover{
    background: linear-gradient(91deg, rgba(61, 184, 70, 0.00) 2.44%, #3DB846 56.96%, rgba(61, 184, 70, 0.00) 99.45%), #437D2B;
}
.main3_button_r{
    margin-top: 208px;
    margin-left: 675px;
    width: 68px;
    height: 68px;
    flex-shrink: 0;
    position: absolute;
    border-radius: 40px;
background: linear-gradient(91deg, rgba(61, 184, 70, 0.00) 2.44%, #3DB846 56.96%, rgba(61, 184, 70, 0.00) 99.45%), #437D2B;
}
.a1{
    width: 336px;
height: 484px;
flex-shrink: 0;
}
.a2{
    width: 696px;
height: 484px;
flex-shrink: 0;
}
.main3__top_text{
    width: 380px;
    height: 21px;
    border: var(--border);
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5E4520;
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: 'Montserrat', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.navigatsiyaaa{
    width: 62px;
height: 8px;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
}
.main3__child__hero__bottom{
    width: 100%;
    height: 666px;
    border: var(--border);
    border-radius: 30px;
}
.main4{
    width: 100%;
    height: 207px;
    border: var(--border);
    align-items: end;
    justify-content: center;
    display: flex;
}
.main4_child{
    width: 1416px;
    height: 95px;
    border: var(--border);
    color: #323638;
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: 'Montserrat', sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-items: center;
justify-content: center;
display: flex;
}
.main5{
    width: 100%;
    height: 716px;
    border: var(--border);
    align-items: end;
    justify-content: center;
    display: flex;
}
.main5__child{
    justify-content: end;
    display: flex;
    border-radius: 24px;
    width: 1416px;
height: 660px;
flex-shrink: 0;
border: var(--border);
background-image: url(/imgs/Rectangle.png);
}
.main5__child__left{
    width: 787px;
    height: 100%;
    border: var(--border);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.f1{
    margin-top: 55px;
    width: 717px;
    height: 116px;
    border: var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.f1_text{
    color: #323638;
leading-trim: both;
text-edge: cap;
font-family: Mont;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 73.5px; /* 114.844% */
}
.f1_logo :hover{
    background: linear-gradient(91deg, rgba(61, 184, 70, 0.00) 2.44%, #3DB846 56.96%, rgba(61, 184, 70, 0.00) 99.45%), #447C2A;
}
.f1_button{
    width: 289px;
    height: 77px;
    flex-shrink: 0;
    border-radius: 40px;
    background-color: #447C2A;
box-shadow: 0px 12px 12px 0px rgba(42, 124, 48, 0.34);
color: #FFF;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.8px;
}
.f2{
    width: 736px;
    height: 159px;
    border: var(--border);
    margin-top: 55px;
    color: #323638;
leading-trim: both;
text-edge: cap;
font-family: 'Montserrat', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
}
.f3{
    width: 717px;
height: 229px;
flex-shrink: 0;
border: var(--border);
margin-top: 24px;
border-radius: 24px;
}
.main5__child__right{
    width: 574px;
    height: 100%;
    border: var(--border);
    display: flex;
    align-items: center;
    justify-content: start;
}

.main6{
    width: 100%;
    height: 716px;
    border: var(--border);
    align-items: end;
    justify-content: center;
    display: flex;
}
.main6__child{
    display: flex;
    justify-content: end;
    border-radius: 24px;
    width: 1416px;
height: 660px;
flex-shrink: 0;
border: var(--border);
background-image: url(/imgs/Rectangle.png);
}
.main6__child__left{
    width: 787px;
    height: 100%;
    border: var(--border);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.main6__child__right{
    width: 574px;
    height: 100%;
    border: var(--border);
    display: flex;
    align-items: center;
    justify-content: start;
}